<configuration>
  <system.webServer>
    
    <handlers>
      <!-- SOLUCIÓN: El asterisco permite ejecutar simple.js O index.js -->
      <add name="iisnode" path="server/*.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <!-- 
             AQUÍ DECIDES QUÉ EJECUTAR:
             Si quieres probar el "Hola Mundo", pon: server/simple.js
             Si quieres volver a tu app, pon: server/index.js 
          -->
          <action type="Rewrite" url="server/index.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Desactiva la seguridad que impide ver la carpeta bin o similares por si acaso -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <iisnode 
      watchedFiles="web.config;server\*.js"
      loggingEnabled="true"
      devErrorsEnabled="true"
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
    />
    
    <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>